<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- CSS File -->
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">

  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic">

  <!-- Font Awesome File -->
  <link rel="stylesheet" href="/fonts/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.2.0/aos.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">
  <link rel="stylesheet" href="/css/QuestionFormCSS.css">
  <title><%= heading %></title>
</head>

<body>
  <nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav" style="background-color: #ffffff;">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="/" style="color: rgb(238,75,40); font-weight:700;">H.I.M</a>
      <button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right"
        type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-align-justify"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="nav navbar-nav ml-auto">
          <li class="nav-item" role="presentation">
            <a class="nav-link js-scroll-trigger" href="/tlogin"
              style="color: rgb(0,0,0); font-weight:700;"><%= Student_details.username %></a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link js-scroll-trigger" href="/login" style="color: rgb(0,0,0); font-weight:700;">Logout</a>
          </li>
          <li class="nav-item" role="presentation"></li>
          <li class="nav-item" role="presentation"></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <section class="container-fluid px-0">
      <div class="row">
        <div id="jumbo" class="jumbotron col-12">
          <h1 class="display-4"><%= heading %></h1>
          <p class="lead">Answer the following questions as instructed.</p>
          <hr class="style14 my-4">
          <% let nextLink = "" %>
          <% if(heading === "Form 1") { %>
          <%    nextLink = "formstress" %>
          <% } else if (heading === "Form 2") {%>
          <%    nextLink = "formanxiety"%>
          <% } else{ %>
          <%    nextLink = "formdepression" %>
          <% } %>
          <form action="/Student/<%= sid %>/<%= nextLink %>" method="POST">
            <% for (let i=0; i<3; i++) { %>
            <p>Ques <%= i+1 %>) <%= questions_mcq[i].question %> </p>
            <div class="form-check">
              <div class="row">
                <div class="col-12 col-sm-6 col-md-3 col-lg-2 mb-3">
                  <input class="form-check-input" type="radio" name="ques<%= i+1 %>" id="exampleRadios<%= i+1 %>"
                    value="op0" required>
                  <label class="form-check-label" for="exampleRadios<%= i+1 %>">
                    Never
                  </label>
                </div>
                <div class="col-12 col-sm-6 col-md-3 col-lg-2 mb-3">
                  <input class="form-check-input" type="radio" name="ques<%= i+1 %>" id="exampleRadios<%= i+1 %>"
                    value="op1" required>
                  <label class="form-check-label" for="exampleRadios<%= i+1 %>">
                    Sometimes
                  </label>
                </div>
                <div class="col-12 col-sm-6 col-md-3 col-lg-2 mb-3">
                  <input class="form-check-input" type="radio" name="ques<%= i+1 %>" id="exampleRadios<%= i+1 %>"
                    value="op2" required>
                  <label class="form-check-label" for="exampleRadios<%= i+1 %>">
                    Often
                  </label>
                </div>
                <div class="col-12 col-sm-6 col-md-3 col-lg-2 mb-3">
                  <input class="form-check-input" type="radio" name="ques<%= i+1 %>" id="exampleRadios<%= i+1 %>"
                    value="op3" required>
                  <label class="form-check-label" for="exampleRadios<%= i+1 %>">
                    Almost Always
                  </label>
                </div>
              </div>
            </div>
            <% } %>

            <p>Ques 4) <%= questions_text[0].question %> </p>
            <textarea style="margin-bottom: 10px;" id="review" rows="4" cols="50" name="text0"></textarea>

            <% for (let i=3; i<6; i++) { %>
            <p>Ques <%= i+2 %>) <%= questions_mcq[i].question %> </p>
            <div class="form-check">
              <div class="row">
                <div class="col-12 col-sm-6 col-md-3 col-lg-2 mb-3">
                  <input class="form-check-input" type="radio" name="ques<%= i+1 %>" id="exampleRadios<%= i+1 %>"
                    value="op0" required>
                  <label class="form-check-label" for="exampleRadios<%= i+1 %>">
                    Never
                  </label>
                </div>
                <div class="col-12 col-sm-6 col-md-3 col-lg-2 mb-3">
                  <input class="form-check-input" type="radio" name="ques<%= i+1 %>" id="exampleRadios<%= i+1 %>"
                    value="op1" required>
                  <label class="form-check-label" for="exampleRadios<%= i+1 %>">
                    Sometimes
                  </label>
                </div>
                <div class="col-12 col-sm-6 col-md-3 col-lg-2 mb-3">
                  <input class="form-check-input" type="radio" name="ques<%= i+1 %>" id="exampleRadios<%= i+1 %>"
                    value="op2" required>
                  <label class="form-check-label" for="exampleRadios<%= i+1 %>">
                    Often
                  </label>
                </div>
                <div class="col-12 col-sm-6 col-md-3 col-lg-2 mb-3">
                  <input class="form-check-input" type="radio" name="ques<%= i+1 %>" id="exampleRadios<%= i+1 %>"
                    value="op3" required>
                  <label class="form-check-label" for="exampleRadios<%= i+1 %>">
                    Almost Always
                  </label>
                </div>
              </div>
            </div>
            <% } %>

            <p>Ques 8) <%= questions_text[1].question %> </p>
            <textarea style="margin-bottom: 10px;" id="review" rows="4" cols="50" name="text1"></textarea>

            <br>

            <% for (let i=6; i<8; i++) { %>
            <p>Ques <%= i+3 %>) <%= questions_mcq[i].question %> </p>
            <div class="form-check">
              <div class="row">
                <div class="col-12 col-sm-6 col-md-3 col-lg-2 mb-3">
                  <input class="form-check-input" type="radio" name="ques<%= i+1 %>" id="exampleRadios<%= i+1 %>"
                    value="op0" required>
                  <label class="form-check-label" for="exampleRadios<%= i+1 %>">
                    Never
                  </label>
                </div>
                <div class="col-12 col-sm-6 col-md-3 col-lg-2 mb-3">
                  <input class="form-check-input" type="radio" name="ques<%= i+1 %>" id="exampleRadios<%= i+1 %>"
                    value="op1" required>
                  <label class="form-check-label" for="exampleRadios<%= i+1 %>">
                    Sometimes
                  </label>
                </div>
                <div class="col-12 col-sm-6 col-md-3 col-lg-2 mb-3">
                  <input class="form-check-input" type="radio" name="ques<%= i+1 %>" id="exampleRadios<%= i+1 %>"
                    value="op2" required>
                  <label class="form-check-label" for="exampleRadios<%= i+1 %>">
                    Often
                  </label>
                </div>
                <div class="col-12 col-sm-6 col-md-3 col-lg-2 mb-3">
                  <input class="form-check-input" type="radio" name="ques<%= i+1 %>" id="exampleRadios<%= i+1 %>"
                    value="op3" required>
                  <label class="form-check-label" for="exampleRadios<%= i+1 %>">
                    Almost Always
                  </label>
                </div>
              </div>
            </div>
            <% } %>
            

            <p>Ques 11) <%= questions_text[2].question %> </p>
            <textarea style="margin-bottom: 10px;" id="review" rows="4" cols="50" name="text2"></textarea>

            <br>

            <button>Submit</button>
          </form>
        </div>
      </div>
    </section>
  </div>


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
  <script src="/js/jquery.min.js"></script>
  <script src="/bootstrap/js/bootstrap.min.js"></script>
  <script src="/js/bs-init.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.2.0/aos.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
  <script src="/js/creative.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
</body>

</html>